.order-nav li{
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 600;
}
.order-nav li:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.products{
  display: grid;
  justify-content: center;
}

.products h4{
  text-align: center;
}

.products:hover{
  cursor: pointer;
  background-color: gray;
}

.data{
  display: grid;
  justify-content: center;
}

.data h2{
  text-align: center;
}